<ion-header>
  <ion-toolbar color="principal">
      <ion-buttons slot="start">
        <ion-button (click)="botonFavoritos()">
          <ion-icon  id="favoritos" slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="Configuracion()" >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content color="principal">
  
</ion-content>

