<ion-header>
  <ion-toolbar color="principal">
      <ion-buttons slot="start">
        <ion-button (click)="botonFavoritos()">
          <ion-icon id="favoritos" slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="Configuracion()" >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
        <!-- Botón e icono para el modo nocturno -->
        <ion-button (click)="toggleDarkMode()">
          <ion-icon slot="icon-only" name="moon"></ion-icon>
        </ion-button>
      </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="contenido" color="principal">
  <ion-row class="buscador">
    <ion-searchbar [debounce]="1000" (ionInput)="handleSearchInput($event)" animated="true" placeholder="Location"></ion-searchbar>
  </ion-row>
  <ion-row class="contenedorImagen">
    <div class="imagenPrincipal">
      <img src="assets/img/{{icon}}.png" alt="Imagen">
    </div>
  </ion-row>
  <div class="contenedorBotonGuardar">
    <ion-buttons slot="end">
      <h2>{{city}}</h2>
      <ion-button (click)='guardarCiudad()'> <!--Falta hacerle el (click)='guardar()'-->
        <ion-icon id="guardar" slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
    <div class="info">
      <ion-row class="">
        <ion-col>{{temperature}}</ion-col>
      </ion-row>
      <ion-row class="infoEstado">
        <ion-col><h2>{{condition}}</h2></ion-col>
      </ion-row>
    </div>
    <div class="detalleInfo">
        <ion-row class="parrafos">
        <ion-col>Humedad</ion-col>
        <ion-col>Precipitaciones</ion-col>
        <ion-col>Viento</ion-col>
        </ion-row>
        <ion-row class="parrafosDatos">
          <ion-col>{{humidity}}</ion-col>
          <ion-col>{{precipitations}}</ion-col>
          <ion-col>{{windspeed}}</ion-col>
          </ion-row>
    </div>
    
</ion-content>
