<ion-header>
  <ion-toolbar color="principal">
      <ion-buttons slot="start">
        <ion-button (click)="botonFavoritos()">
          <ion-icon id="favoritos" slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="Configuracion()" >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
        <!-- Botón e icono para el modo nocturno -->
        <ion-button (click)="toggleDarkMode()">
          <ion-icon slot="icon-only" name="moon"></ion-icon>
        </ion-button>
      </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="contenidoImagen" color="principal">
  <div class="imagenPrincipal">
    <img src="assets/img/dark_clear-day.png" alt="Imagen">
  </div>
  <div class="contenedorBotonGuardar">
    <ion-buttons slot="end">
      <ion-button> <!--Falta hacerle el (click)='guardar()'-->
        <ion-icon id="guardar" slot="icon-only" name="bookmark-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </div>
    <div class="info">
      <h2>Nublado</h2>
        <div class="parrafos">
        <p>Humedad</p>
        <p>Precipitaciones</p>
        <p>Viento</p>
      </div>
    </div>
</ion-content>
